:root {
    --primary: #FA7436;
    --light: #fff;
    --dark: #000;
    --poppins-font: 'Poppins', sans-serif;
    --volkhov-font: 'Volkhov', serif;
    --grey: #FA7436;
    --light-grey: #FEFCFB;
    --things-color: #F7F8FC;
    --regular-font: #666666;
    --inter-font: "Inter", sans-serif;
}

body {
    margin: 0;
    font-family: var(--poppins-font);
    color: var(--dark);
}

a {
    text-decoration: none;
}

.heading-text-color {
    color: var(--primary);
}

/* header */
header {
    width: 100%;
    background: var(--light-grey);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.company-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.company-name p {
    font-family: var(--volkhov-font);
    font-size: 24px;
    font-weight: bold;
    color: var(--dark);
}

.company-name img {
    height: 30px;
    width: auto;
}

.nav-links {
    display: none;
    gap: 1.5rem;
}

.nav-links a {
    font-size: 16px;
    color: var(--dark);
    font-family: var(--poppins-font);
}

.login-btns {
    display: none;
    gap: 1rem;
}

.login-btns a {
    color: var(--primary);
    font-size: 16px;
}

.menu-btn {
    font-size: 1.5rem;
    color: var(--primary);
    display: block;
    cursor: pointer;
}

.nav-links.show,
.login-btns.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--light-grey);
    padding: 1rem;
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }

    .login-btns {
        display: flex;
    }

    .menu-btn {
        display: none;
    }
}

.hero {
    /* padding: 2rem 0; */
    background-color: var(--light-grey);
}

.hero-container {
    display: flex;
    gap: 2rem;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--volkhov-font);
    padding: 3rem;
}

.hero-right {
    flex: 1;
    text-align: center;
    padding: 2rem;
}

.hero-left h1 {
    font-family: var(--volkhov-font);
    font-size: 64px;
    font-weight: lighter;
    text-align: left;
}

.hero-left p {
    font-family: var(--poppins-font);
    font-size: 20px;
    text-align: left;
}

.hero-left a {
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--primary);
    width: fit-content;
    margin-top: 2rem;
}

.hero-dropdown {
    display: flex;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--light);
    padding: 2rem 5rem;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    padding-bottom: 6rem;
}

.dropdown select {
    border: none;
    width: 100%;
}

.explore-now a {
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--primary);
    width: fit-content;
}

.secondary-text {
    font-size: 12px;
    font-family: var(--poppins-font);
    font-weight: 200;
    margin-top: 0px;
}


@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    .hero-left {
        padding: 1rem;
        order: 1;
    }

    .hero-left h1 {
        font-size: 36px;
    }

    .hero-left p {
        font-size: 16px;
    }

    .hero-right {
        padding: 1rem;
        order: 2;
    }

    .hero-right img {
        padding: 1rem;
        width: 100%;
        max-width: 300px;
    }

    .hero-dropdown {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        width: 100%;
    }

    .explore-now {
        text-align: center;
        margin-top: 1rem;
    }
}

/* things to do */
.things-to-do {
    display: flex;
    flex-direction: column;
    background-color: var(--things-color);
}

.things-container {
    display: flex;
    flex-direction: column;
}

.things-container h1 {
    text-align: center;
    font-style: var(--volkhov-font);
    font-size: 48px;
    font-weight: bold;

}

.things-container p {

    text-align: center;
    font-style: var(--poppins-font);
    font-size: 16px;
    color: var(--regular-font);
}

.things-cardcontainer {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    gap: 3rem;
    margin: 0rem 1rem;
}

.things-card .cont {
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 600;
    color: var(--dark);
}

.things-card p {
    font-family: var(--poppins-font);
    font-size: 16px;
    color: var(--regular-font)
}

.things-card {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 80%;
    background-color: var(--light);
    padding: 2rem;
    align-items: start;


}

.things-card img {
    width: fit-content;
}

@media (max-width: 768px) {
    .things-cardcontainer {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .things-card {
        display: flex;
        align-items: center;
    }

}

/* deals&discounts */
.deals-content {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
}

.deals-heading-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


.deals-heading-content h1 {
    text-align: center;
    font-style: var(--volkhov-font);
    font-size: 48px;
    font-weight: bold;
}

.deals-heading-content p {
    text-align: center;
    font-style: var(--poppins-font);
    font-size: 16px;
    color: var(--regular-font);
}

.deals-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 3rem;
    gap: 1rem;
}

.deals-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid var(--regular-font);
    border-radius: 1rem;
    overflow: hidden;

}

.deals-card-content {
    padding: 0rem 1rem;
}

/* 1 st line  */

.deals-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.deals-card-info-rating {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.deals-card-info-rating img {
    height: fit-content;
}

/* 2nd line  */
.deals-card-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}

.deals-card-address-location {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.deals-card-address-location img {
    height: fit-content;
}

.deals-card-address-amount {
    display: flex;
    gap: 1rem;
}

.car-sliding-arrows {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.deal-name {
    font-style: var(--poppins-font);
    font-size: 24px;
    font-weight: 500;
}

.deals-card-info-rating p {
    font-family: var(--poppins-font);
    font-size: 16px;
    color: var(--regular-font);
}

.deals-card-address-location {
    font-family: var(--poppins-font);
    font-size: 16px;
    color: var(--regular-font);
}

.deals-card-address-amount {
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 200;
}


@media (max-width: 768px) {
    .deals-card-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .car-sliding-arrows {
        display: none;
    }

}

/* vacation */
.vacation-sliding-arrows {
    display: flex;
    justify-content: right;
    margin-right: 15rem;
    gap: 2rem;


}

.vacation-card-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 2rem;
    justify-content: center;
    padding: 2rem;


}

.vacation-card {

    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid var(--regular-font);
    overflow: hidden;
    margin-bottom: 2rem;
}

.vacation-img img {
    width: 100%;
}

.vacation-img-content {
    padding: 0rem 1rem;
}


/* 1 */
.vacation-cars-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.location-name {
    font-family: var(--poppins-font);
    font-size: 24px;
}

.vacation-price {
    color: var(--primary);
}

/* 2 */
.vacation-cars-details-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.vacation-cars-details-location-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.vacation-cars-details-location-left p {
    font-style: var(--poppins-font);
    font-size: 16px;
    color: var(--regular-font);
}

.vacation-cars-details-location-right p {
    font-style: var(--poppins-font);
    font-size: 16px;
    color: var(--regular-font);
}

.vacation-cars-details-location-left img {
    height: 20px;
}

.vacation-cars-details-location-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.vacation-cars-details-location-right img {
    height: 20px;
}

.vacation-sliding-arrows {
    display: flex;

}

@media (max-width: 768px) {
    .vacation-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

    }

    .vacation-sliding-arrows {
        display: none;
    }
}

/* people says */

/* .........................................latest blog.................................................. */
.blog-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 3rem;
}

.blog-card {
    display: flex;
    flex-direction: column;
}

.blog-card img {
    width: 100%;
    height: 50%;

}

.blog-heading p {
    font-family: var(--volkhov-font);
    font-size: 48px;
    font-weight: 200;
    text-align: center;
}

.blog-card h6 {
    font-family: var(--poppins-font);
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding: 1rem 0;

}

.blog-card p {
    font-family: var(--inter-font);
    font-size: 16px;
    color: #999999;
    margin: 0px;
}

@media (max-width: 768px) {
    .blog-card-container {
        display: flex;
        flex-direction: column;
    }
}

/* ..............................................................subscribe box............................................................................ */
/* General styles */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
}

.subscribe {
    text-align: center;
    padding: 2rem 4rem;
    width: 50%;
    background-color: var(--primary);
    padding: 5rem 5rem;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container input[type="text"] {
    height: 3rem;
    width: 85%;
    position: relative;
    box-sizing: border-box;
}

.input-container button {
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 63px;
    height: 75%;
    padding: 0 1rem;
    border: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #45a049;
}

.subscribe h1 {
    color: var(--light);
}

@media (max-width: 768px) {
    section {
        padding: 2rem
    }

    .subscribe {
        width: 80%;
        padding: 1.5rem 2rem;
    }

    .subscribe h1 {
        font-size: 1.5rem;
    }

    .input-container input[type="text"] {
        height: 2.5rem;
    }

    .input-container button {
        top: 4px;
        bottom: 4px;
        right: 6px;
        height: 85%;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    section {
        padding: 2rem;
    }

    .subscribe {
        width: 100%;
        padding: 1rem;
    }

    .subscribe h1 {
        font-size: 1.2rem;
    }

    .input-container input[type="text"] {
        height: 2.5rem;
    }

    .input-container button {
        top: 4px;
        bottom: 4px;
        right: 20px;
        height: 85%;
        font-size: 0.8rem;
    }
}